<section class="advantages-section">
	<div class="container container__1136">
		<ul class="advantages-list clearfix">
			<li class="advantages-list__item">
				<div class="advantages-list__item-img">
					<div class="advantages-delivery__icon"></div>
				</div>
				<div class="advantages-list__item-title">
					Удобная доставка
				</div>
				<div class="advantages-list__item-descr">
					Мы предлагаем комфортную доставку по всей России
				</div>
				<div class="advantages-list__item-chevron">
					{% include '/html/images/svg/chevron-orange.svg' %}
				</div>
			</li>
			<li class="advantages-list__item advantages-list__item__quality">
				<div class="advantages-list__item-img">
					<div class="advantages-quality__icon"></div>
				</div>
				<div class="advantages-list__item-title">
					100% Гарантия качества
				</div>
				<div class="advantages-list__item-descr">
					Более 10 лет мы следим за качеством нашей продукции
				</div>
				<div class="advantages-list__item-chevron">
					{% include '/html/images/svg/chevron-orange.svg' %}
				</div>
			</li>
			<li class="advantages-list__item advantages-list__item__service">
				<div class="advantages-list__item-img">
					<div class="advantages-service__icon"></div>
				</div>
				<div class="advantages-list__item-title">
					Безупречный сервис
				</div>
				<div class="advantages-list__item-descr">
					Наши менеджеры работают 12 часов, что бы помочь вам
				</div>
				<div class="advantages-list__item-chevron">
					{% include '/html/images/svg/chevron-orange.svg' %}
				</div>
			</li>
			<li class="advantages-list__item advantages-list__item__production">
				<div class="advantages-list__item-img">
					<div class="advantages-production__icon"></div>
				</div>
				<div class="advantages-list__item-title">
					Полное производство
				</div>
				<div class="advantages-list__item-descr">
					Мы являемся производителем, а не дистрибьютором.
				</div>
				<div class="advantages-list__item-chevron">
					{% include '/html/images/svg/chevron-orange.svg' %}
				</div>
			</li>
		</ul>
	</div>
</section>