<div class="articles-category-item">
	<div class="articles-category-title">
		Категории
	</div>
	<div class="articles-category-list">
		<ul>
			{% for section in result["SECTIONS"] %}
				<li><a href="{{ section['SECTION_PAGE_URL'] }}">{{ section['NAME'] }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>