{% if result['OFFERS']|length > 0 %}
	<div class="col-lg-9 col-md-9 col-sm-12 catalog-col">
		{% include templateFolder~'/catalog-sorting.twig' %}
	</div>

	<div class="col-lg-9 col-md-9 col-sm-12 catalog-col">
		<div class="preloader-catalog _catalogPreloader">
			{% include '/html/images/svg/loading.svg' %}
		</div>
		<div class="catalog__items clearfix">
			{% for offerKey,offer in result['OFFERS'] if offerKey < 6 %}
				{% set product = offer['PRODUCT'] %}
				{% include templateFolder~'/catalog-products-element.twig' %}
			{% endfor %}
		</div>
	</div>
	{% if result['SEASON_OFFER'] is defined and result['SEASON_OFFER'] != false %}
		{% set offer = result['SEASON_OFFER'] %}
		{% set product = offer['PRODUCT'] %}
		<div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-12 big-product-col">
			{% include templateFolder~'/catalog-product.twig' %}
		</div>
	{% endif %}
	{% if result['OFFERS']|length > 6 %}
		<div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-12 catalog-col">
			<div class="catalog__items clearfix">
				{% for offerKey,offer in result['OFFERS'] if offerKey > 5  %}
					{% set product = offer['PRODUCT'] %}
					{% include templateFolder~'/catalog-products-element.twig' %}
				{% endfor %}
				<div class="_moreProductsPlace"></div>
			</div>
			{% if result['OFFERS']|length > 11 %}
				<div class="catalog__right-button">
					<button data-nexpage="2" onclick="cSection.loadMore(this)" class="t-button-text t-button-transparenr catalog__right-refresh">
						<span class="catalog__refresh">{% include '/html/images/svg/refresh.svg' %}</span>
						Показать еще
					</button>
				</div>
			{% endif %}
		</div>
	{% endif %}
{% else %}
	<div class="col-lg-9 col-md-9 col-sm-12 catalog-col">
		<h2 class="text-center">Ничего не найдено</h2>
	</div>
{% endif %}