<section class="breadcrumbs__section">
	<div class="container">
		<div class="breadcrumbs">
			<ul>
				{% for link in params['LINKS'] %}
					<li><a href="{{ link['url'] }}">{{ link['text'] }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>